/* .hallway {
  perspective: 1500px;
}

.wall {
  transform: rotateY(-45deg);
  transform-style: preserve-3d;
  align-items: flex-end;
  justify-content: flex-start;
}

.art-piece img {
  width: 100px;
  height: 100px;
  object-fit: cover;
} */
